* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: 'open sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialaised important!;
}

li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  transition: all 500ms ease-in-out;
}
a:hover,
a:active {
  text-decoration: none;
}
h1,
h2,
h4 {
  font-family: 'PT Sans Narrow', AriAL, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
p {
  font-size: 15px;
  line-height: 21px;
}
.btn {
  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ededed !important;
  color: #3c3c3c !important;
  border: 1px solid #fff !important!
}
.navbar {
  background-color: #222222!important;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
  font-weight: 700;
}
.navbar a {
  color: #fff !important;
  opacity: 0.7;
}
.navbar a:hover {
  opacity: 1;
  background-color: #111111 !important;
}

/*Header Section*/
.header {
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-image: url(../images/laptop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.header img {
  height: 350px;
  width: 450px
  margin: 70px 0 0 40px;

}
.header h1 {
  font-size: 3px;
  font-weight: 700;
  padding-top: 30px;
  color: #fff;
  font-family: 'Philosopher', sans-serif;
}
.header h1
.header p,
.header button {
  margin-top: 20px;

}
.header .btn{
  border-radius: 0;
  margin: 40px 20px;
}

@media(max-width:1920px){
  .header{
    padding: 30px;
    height: 750px;
  }
  .header img {
    width: 90%;
    height: 300px;
    margin: 20px 0 0 20px;
    }
    }
    .header h1 {
      font-size: 50px;
      letter-spacing: 5px;
    }
    .header p {
      font-size: 18px;
      color: #fff;
      letter-spacing: 2px;
      line-height: 10;
      font-weight: 800;
    }

    /**/
.services {
  padding: 80px 0 80px;
  text-align: center;
}
.services h2,
.services h4 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.services p {
  color: #737373;
  font-size: 14px;
  padding-bottom: 40px;
}
.services i {
  height: 80px;
  width: 80px;
  font-size: 30px;
  padding: 25px 20px;
  background-color: #6699cc;
  border-radius: 50%;
  color: #fff;
}

/*About Section*/

.about {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #4c4c4c;
  border-radius: 5px;
  margin-top: 30px;
  font-family: 'Philosopher', sans-serif;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 2.5rem;
}

.abtHeader {
  font-size: 3rem;
  font-family: 'Architects Daughter', cursive;

}


}
.hash {
  display: block;
  padding: 5px;
}



table img {
  width: 350px;
  height: 190px;
  overflow: hidden;
}

table td {
  padding-left: 40px;
  padding-top: 20px;

}

table img:hover {
  transform: scale(1.1);
  transition: all .4s ease-in;
  filter: grayscale(1);
}


/*Typed Js CSS*/
.typed {
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;

}

body {
	background: #34495e;
	color: #ecf0f1;
	margin: 0;
	padding: 0;
}

.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #ecf0f1;
	width: 400px;
	height: auto;
	padding: 30px;

	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-80%,-80%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-80%,-80%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h1 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.btns {
	display: block;
	width: 400px;
	margin: 0;
	padding: 30px 0 0 30px;
}
.btns a {
	display: inline-block;
	margin-left: 5px;
}
.btns a:first-child{margin-left:0}
.btn {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ecf0f1;
	text-decoration: none;
}
a .btn {
	cursor: pointer;
	border: 1.5px solid #ecf0f1;
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	transition: all .3s;
}

.btn:hover {
	background: #ecf0f1;
	color: #34495e;
}

/*Contact Section*/
#navBottom {
  text-align: center;
  background-color: black;
  border-radius: 3%;
  border-style: groove;
  height: 10rem
}
.footerName {
  color: white;
}
#contact {
  font-size: 3rem;
  color: white;

}
.contact a:hover{
  background-color: #709963;
}
